# misc
**/.DS_Store

# storybook
storybook/storybook-static

# node
**/node_modules/
**/dist/

# Task
**/.task/

# Wails
/cmd/gordle_app/bin/
**/build/linux/appimage/build
**/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
**/build/ios/xcode/overlay.json
**/build/ios/xcode/gen/
**/build/android/overlay.json
**/build/android/gen/
**/build/android/.gradle/
**/build/android/app/build/
**/build/android/app/src/main/jniLibs/*/libwails.so
**/build/ios/DerivedData/
**/build/linux/*.desktop
**/build/darwin/icons.icns
**/build/darwin/Assets.car
**/build/linux/appimage/Gordle
**/build/linux/appimage/Gordle.png
**/wails_windows_*.syso
**/wails_obfuscated.gen.go
