# Supply Chain & Age Gating
min-release-age=7

# This can be used to run post install scripts
allow-git=none

# Prevents npm from resolving untrusted dependencies
allow-remote=none

# Prevent post install scripts
ignore-scripts=true

# Pin exact dependency versions
save-exact=true

# Vulnerability auditing
audit=true

# Remove log about funding
fund=false
