prefix_rule(
    pattern = ["aws"],
    decision = "forbidden",
    justification = "AWS commands are forbidden",
    match = [
        "aws --help"
    ]
)

prefix_rule(
    pattern = ["gcp"],
    decision = "forbidden",
    justification = "GCP commands are forbidden",
    match = [
        "gcp --help"
    ]
)

prefix_rule(
    pattern = ["git", "push"],
    decision = "forbidden",
    justification = "git push commands are forbidden",
    match = [
        "git push"
    ]
)

prefix_rule(
    pattern = ["docker", "exec"],
    decision = "prompt",
    justification = "Manual review required to run command in docker",
    match = [
        "docker exec"
    ]
)

prefix_rule(
    pattern = ["rg"],
    decision = "allow",
    justification = "simple search tool",
    match = [
        "rg --files"
    ]
)

prefix_rule(
    pattern = ["sed", "-n"],
    decision = "allow",
    justification = "codex uses this often to print parts of a file for it to inspect",
    match = [
        "sed -n '1,220p'"
    ]
)
